input[type=text].topnav  {
  border-radius: 25px;
  float: right;
  padding: 6px;
  background: #3bc43b;
  border: none;
  color: #fff;
  text-align: left;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  a.topnav ,input[type=text].topnav  {
    float: none;
    display: block;
    background: #3bc43b;
    color: #fff;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
   input[type=text].topnav  {
    border: 1px solid #ccc;
  }
}