{% if all_Announcement.count > 0 %}

<table>
  <thead class="table100-head">
  <tr>
    <th class="column1">POC Name</th>
    <th class="column2">Company Name</th>
    <th class="column3">Announcements</th>
    <th class="column4">Anouncement Time</th>
  </tr>
  </thead>
  <tbody>
  {% for announcement in all_Announcement %}
          <tr>
            <td class="column1">{{ announcement.user }}</td>
            <td class="column2">{{ announcement.poc_company }}</td>
            <td class="column3">{{ announcement.Announcement }}</td>
            <td class="column4">{{ announcement.AnnouncementTime }}</td>
          </tr>
          {% endfor %}
  </tbody>

</table>


{% else %}

<table>
  <thead class="table100-head">
  <tr>
    <th class="column1">POC Name</th>
    <th class="column2">Company Name</th>
    <th class="column3">Announcements</th>
    <th class="column4">Anouncement Time</th>
  </tr>
  </thead>
  <tbody>

<tr><th colspan="4">No announcements found</th></tr>
</tbody>
</table>

{% endif %}