{% if all_Announcement.count > 0 %}
	<table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Student Name
            </th>
            <th class="column2">Roll Number
              
            </th >
            <th class="column3">Company's Announcement Call
                
            </th>
            <th class="column4">Announcement Time
            </th>

          </tr>
        </thead>
	<tbody>
        {% for announcement in all_Announcement %}
          <tr>
            <td class="column1">{{ announcement.student }}</td>
            <td class="column2">{{ announcement.rollnumber }}</td>
            <td class="column3">{{ announcement.Announcement }}</td>
            <td class="column4">{{ announcement.AnnouncementTime |date:"h:i A d,M"}}
            &ensp;
            {% if user.is_authenticated %}
            {% if request.user == announcement.user.user %}
             <a  href="{% url 'student-announcement-delete' announcement.id %}" onclick="return confirm('Are you sure you want to delete this?')">
                 <span aria-hidden="true" >&times;</span>
            </a>
            {% endif %}
            {% endif %}
            </td>
          </tr>
          {% endfor %}
    </tbody>
	</table>
{% else %}
<table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Student Name
            </th>
            <th class="column2">Roll Number
              
            </th>
            <th class="column3">Company's Announcment Call
                
            </th>
            <th class="column4">Call Time
            </th>
          </tr>
        </thead>
        <tbody>
	<tr><th colspan="4">No announcements found</th></tr>
</tbody>
</table>
{% endif %}