{% if all_Announcement.count > 0 %}

<table>
  <thead class="table100-head">
  <tr>
    <th class="column1">POC Name</th>
    <th class="column2">Company Name</th>
    <th class="column3">Announcements</th>
    <th class="column4">Anouncement Time</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for announcement in all_Announcement %}
          <tr>
            <td class="column1"><a href="{% url 'profile' announcement.user.user.id %}">{{ announcement.user }}</a></td>
            <td class="column2">{{ announcement.poc_company }}</td>
            <td class="column3">{{ announcement.Announcement }}</td>
            <td class="column4">{{ announcement.AnnouncementTime|date:"h:i A d,M" }}</td>
            {% if request.user == announcement.user.user %}
            <td> 
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'announcement-delete' announcement.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
            {% else %}
            <td> </td>
            {% endif %}
          </tr>
          {% endfor %}
  </tbody>

</table>


{% else %}

<table>
  <thead class="table100-head">
  <tr>
    <th class="column1">POC Name</th>
    <th class="column2">Company Name</th>
    <th class="column3">Announcements</th>
    <th class="column4">Anouncement Time</th>
  </tr>
  </thead>
  <tbody>

<tr><th colspan="4">No announcements found</th></tr>
</tbody>
</table>

{% endif %}