{% extends 'header.html' %}

{% block content %}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <!--<a class="navbar-brand mr-4" href="#"></a>-->
      <a class="navbar-brand mr-4" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
         
          <!--<a class="navbar-brand mr-4" data-toggle="modal" href="#modalAnounce" data-target="#modalAnounce">Add an Anouncement</a>-->
        <a class="navbar-brand mr-4" href="{% url 'studentannouncement' %}" >
          Add Student's Anouncement
        </a>

          <a class="navbar-brand mr-4" href="#">Students List</a>
        </div>
        <div class="navbar-nav navbar-middle">
        <input type="text" placeholder="Search..">
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav navbar-right">
          <a class="navbar-brand mr-4" href="#">{{ user.username }}</a>
          <a class="navbar-brand mr-4" href="./">|</a>
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Logout</a>
        </div>
        

               
            </div>
  </nav>
</header>
  <h2>Welcome, {{ user.username }}!</h2>
  <br>
  <br>

  <table>
  <tr>
    <th>POC Name</th>
    <th>Company Name</th>
    <th class="big">Announcements</th>
    <th class="small">Anouncement Time</th>
  </tr>


</table>

{% endblock %}