{% extends 'header.html' %} 
{% load static %}
{% block content %}
    <script src="{% static 'Ajax.js' %}"></script>
  <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <a class="navbar-brand mr-4" href="{% url 'portal' %}">back</a>
          {% else %}
          <a class="navbar-brand mr-4" href="{% url 'login' %}">Login</a>
          {% endif %}
          </div>
          {% csrf_token %}
      <div class="search-box">
          <input class="search-txt" type="text" placeholder="Type to search" name="search" id="search">
          <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
          </a>
          </div>
        </nav>
          
      </header>
      <br><br>
      <h1 align="center"> Student's Announcement List </h1>


      <div id="search-results"></div>


{% endblock %}   