{% extends 'header.html' %}

{% block content %}
  <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="navbar-nav navbar-right">
          <a class="navbar-brand mr-4" href="{% url 'login' %}">Login</a>
          </div>
        </nav>
       
      </header>
      <br><br>
      <h1 align="center"> Students' List </h1>
      <table>
        <thead>
          <tr class="table-headers">
            <th>Student Name
                <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
            </th>
            <th>Roll Number
              
            </th>
            <th>Company Call
                <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
            </th>
            <th>Call Time
              <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
            </th>
          </tr>
        </thead> 
        <tbody>
          </tr>
            <td>Humam Khan</td>
            <td>180123057</td>
            <td>DE Shaw</td>
            <td>12:00:00</td>
          </tr>
          </tr>
            <td>Kartikeya Singh</td>
            <td>180123021</td>
            <td>Microsoft</td>
            <td>13:35:03</td>
          </tr>
        </tbody>
      </table> 

{% endblock %}          