{% extends 'header.html' %}
{% load static %}
{% block content %}

<script src="{% static 'Ajax1.js' %}"></script>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <!--<a class="navbar-brand mr-4" href="#"></a>-->
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
         
          <!--<a class="navbar-brand mr-4" data-toggle="modal" href="#modalAnounce" data-target="#modalAnounce">Add an Anouncement</a>-->
        <a class="navbar-brand mr-4" href="{% url 'studentannouncement' %}" >
          Add Student's Anouncement
        </a>
        <a class="navbar-brand mr-4" href="{% url 'privateannouncement' %}" >
          Private Anouncement
        </a>

          <a class="navbar-brand mr-4" href="{% url 'selected-students' obj.id %}">Students List</a>
          <a class="navbar-brand mr-4" href="#">Map</a>
        </div>
        
        <!-- Navbar Right Side -->
        <div class="navbar-nav navbar-right">
          {% csrf_token %}
          <div class="search-box">
          <input class="topnav" type="text" placeholder="  Type to search" name="search1" id="search1">
          <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
          </a>
          </div>
          <!-- <div>
          <input type="text" placeholder="  Search..." class="topnav">
          </div> -->
          <div class="navbar-nav navbar-right">
          <a class="navbar-brand mr-4" href="{% url 'profile' %}">{{ user.username }}</a>
          
          <a class="navbar-brand mr-4" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
  </nav>
</header>
  <br>
  <p align="center" ><font size="5" color="#f5f5f5">Welcome, {{ user.username }}!</font></p>
  <br>
  <br>

  <div id="search-results1"></div>
  <script>
            $(function() {



    $('#search1').keyup(function() {

        $.ajax({
            type: "POST",
            url: "/portal/search/",
            
            data: {
                'search_text' : $('#search1').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            success: searchSuccess,
            dataType: 'html'
        });
    });
});

function searchSuccess(data, textStatus, jqXHR)
{   
    // let lis = document.getElementById("mainlist");
    // console.log(sres.childNodes.length    )
        // lis.style.display = "none";

    $('#search-results1').html(data)
}
  </script>

{% endblock %}