{% extends 'header.html' %}

{% block content %}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <!--<a class="navbar-brand mr-4" href="#"></a>-->
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Home</a>
      <a class="navbar-brand mr-4" href="{% url 'portal' %}">Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
         
          <!--<a class="navbar-brand mr-4" data-toggle="modal" href="#modalAnounce" data-target="#modalAnounce">Add an Anouncement</a>-->
        <a class="navbar-brand mr-4" href="{% url 'studentannouncement' %}" >
          Add Student's Anouncement
        </a>
        <a class="navbar-brand mr-4" href="{% url 'privateannouncement' %}" >
          private Anouncement
        </a>

          <a class="navbar-brand mr-4" href="#">Students List</a>
        </div>
        
        <!-- Navbar Right Side -->
        <div class="navbar-nav navbar-right">
          <div>
          <input type="text" placeholder="  Search..." class="topnav">
          </div>

          <a class="navbar-brand mr-4" href="{% url 'profile' %}">{{ user.username }}</a>
          <a class="navbar-brand mr-4" href="./">|</a>
          <a class="navbar-brand mr-4" href="{% url 'logout' %}">Logout</a>
        </div>
        

               
            </div>
  </nav>
</header>
  <br>
  <p align="center" ><font size="4.5">Welcome, {{ user.username }}!</font></p>
  <br>
  <br>

  <table>
  <thead>
  <tr>
    <th>POC Name</th>
    <th>Company Name</th>
    <th >Announcements</th>
    <th >Anouncement Time</th>
  </tr>
  </thead>
  <tbody>
  {% for announcement in all_Announcement %}
          </tr>
            <td>{{ user.username }}</td>
            <td>{{ announcement.poc_company }}</td>
            <td>{{ announcement.Announcement }}</td>
            <td>{{ announcement.AnnouncementTime }}</td>
          </tr>
          {% endfor %}
  </tbody>

</table>

{% endblock %}