{% extends 'header.html' %}

{% block content %}
  <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="topnav-right">
          <a class="navbar-brand mr-4" href="{% url 'login' %}">Login</a>
          </div>
        </nav>
       
      </header>
      <br><br>
      <h1 align="center"> Student's Announcement List </h1>
      <table>
        <thead>
          <tr class="table-headers">
            <th>Student Name
                <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
            </th>
            <th>Roll Number
              
            </th>
            <th>Company's Announcment Call
                <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
            </th>
            <th>Call Time
              <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
            </th>
          </tr>
        </thead> 
        <tbody>
        {% for announcement in all_Announcement %}
          </tr>
            <td>{{ announcement.student }}</td>
            <td>{{ announcement.rollnumber }}</td>
            <td>{{ announcement.Announcement }}</td>
            <td>{{ announcement.AnnouncementTime }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 

{% endblock %}   