{% extends 'header.html' %}
{% load static%}
{% block content %}
  <!-- main -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
       <div class="navbar-nav navbar-right">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">Back</a>
        </div>
    </nav>
</header>
  <div class="main-w3layouts wrapper">
    <img src="{% static 'IITGlogo.gif' %}" alt="IITG Logo" style="width:10%;" >
    <div class="main-agileinfo">
      <div class="agileits-top">
        
      <form method="post">
      {% csrf_token %}
      <!--<input type="hidden" name="next" value="{{ next }}" /> -->
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
        {{ field }}<br>
        </p>
      {% endfor %}
      {% if form.errors %}
         <p style="color: red">Your username and password didn't match. Please try again.</p>
         {% endif %}
    <input type="submit" value="Login">
  </form>

        <p >Don't have an Account? <a href="{% url 'signup' %}"> SignUp Now!</a></p>
      </div>
    </div>
  </div>
{% endblock %}