{% extends 'header.html' %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
       <div class="navbar-nav navbar-right">
            <a class="navbar-brand mr-4" href="{% url 'portal' %}">Back</a>
        </div>
    </nav>
</header>
<br><br>
<p align="center" ><font size="7"><i>Shortlisted Students</i></font></p>
<br>
<table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Name</th>
            <th class="column2">Roll Number</th>
            <th class="column2">Company</th>
            <th class="column3">Entry Time</th>
            <th class="column4">Expected Time</th>
            <th class="column5"></th>
          </tr>
        </thead>
        <tbody>
        
            {% if shortlist %}
            {% for candidate in shortlist %}
            {% if candidate.is_confirm == False %}
            <tr>
             
             {% if candidate.is_selected == True %}
             <td class="column1" style = "background-color:green"><a href="{% url 'student-profile' candidate.id %}">{{ candidate.candidate_name }}</td>
             {% elif candidate.is_interview == True %}
             <td class="column1" style = "background-color:yellow"><a href="{% url 'student-profile' candidate.id %}">{{ candidate.candidate_name }}</td> 
             {% else %}
             <td class="column1"><a href="{% url 'student-profile' candidate.id %}">{{ candidate.candidate_name }}</td>
             {% endif %}
            <td class="column2">{{candidate.roll_number}}</td>
            <td class="column2">{{candidate.company_name}}</td>
            <td class="column3">{{candidate.start_time|date:"h:i A"}}</td>
            <td class="column4">{{candidate.expected_time}}</td>
            {% if candidate.is_selected == False %}
            {% if candidate.is_interview == False %}
            <td class="column6"><a href="{% url 'Update-Profile' candidate.id id %}"> Submit </a></td>
            {% else %}
            {% if candidate.company_name == poc.company.company_name %}
            <td class="column6"><a href="{% url 'Reset-Profile' candidate.id id %}">Reset</a></td>
            {% endif %}
            {% endif %}
            {% endif %}
            
            
            
            
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
</table>
<br><br><br><br>
<p align="center" ><font size="7">Waiting List</font></p>
<br>
<table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Name</th>
            <th class="column2">Roll Number</th>
            <th class="column2">Company Name</th>
            <th class="column3">Entry Time</th>
            <th class="column4">Expected Time</th>
            <th class="column5"></th>
          </tr>
        </thead>
        <tbody>
        
            {% if waitlist %}
            {% for candidate in waitlist %}
            <tr>
             {% if candidate.is_confirm == False %}
             {% if candidate.is_selected == True %}
             <td class="column1" style = "background-color:green"><a href="{% url 'student-profile' candidate.id %}">{{ candidate.candidate_name }}</td>
             {% elif candidate.is_interview == True %}
             <td class="column1" style = "background-color:yellow"><a href="{% url 'student-profile' candidate.id %}">{{ candidate.candidate_name }}</td> 
             {% else %}
             <td class="column1"><a href="{% url 'student-profile' candidate.id %}">{{ candidate.candidate_name }}</td>
             {% endif %}
            <td class="column2">{{candidate.roll_number}}</td>
            <td class="column2">{{candidate.company_name}} </td>
            <td class="column3">{{candidate.start_time|date:"h:i A"}}</td>
            <td class="column4">{{candidate.expected_time}}</td>
            {% if candidate.is_selected == False %}
            {% if candidate.is_interview == False %}
            <td class="column6"><a href="{% url 'Update-Profile' candidate.id id %}"> Submit </a></td>
            {% else %}
            {% if candidate.company_name == poc.company.company_name %}
            <td class="column6"><a href="{% url 'Reset-Profile' candidate.id id %}">Reset</a></td>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            
            {% endif %}
        </tr>
        </tbody>
</table>
{% endblock %}