{% extends 'header.html' %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
       <div class="navbar-nav navbar-right">
            <a class="navbar-brand mr-4" href="{% url 'selected-students' obj1.id %}">Back</a>
        </div>
    </nav>
</header>
<br>
<p align="center" ><font size="7">User Details</font></p>
<br>
<table>
        <thead>
          <tr class="table100-head">
            <th class="column1"></th>
            <th class="column2"></th>
            <th class="column3"></th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="column1"><font size="5">Student Name</font></td>
            <td class="column2"><font size="5">:</font></td>
            <td class="column3"><font size="5">{{ obj.candidate_name }}</font></td>
        </tr>
        <tr>
            <td class="column1"><font size="5">Email</font></td>
            <td class="column2"><font size="5">:</font></td>
            <td class="column3"><font size="5">{{ obj.roll_number }}</font></td>
        </tr>
        <tr>
            <td class="column1"><font size="5">Phone Number</font></td>
            <td class="column2"><font size="5">:</font></td>
            {% if obj.Phone_number != 0 %}
            <td class="column3"><font size="5">{{ obj.Phone_number}}</font></td>
            {% else %}
            <td><font size="5">NOT AVAILABLE</font></td>
            {% endif %}
        </tr>
        </tbody>
</table>
{% endblock %}