{% extends 'header.html' %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
       <div class="navbar-nav navbar-right">
            <a class="navbar-brand mr-4" href="{% url 'selected-students' obj1.id %}">Back</a>
        </div>
    </nav>
</header>
<br>
<p align="center" ><font size="7" color="#f5f5f5">User Details</font></p>
<br>
<table>
        <thead>
          <tr class="table100-head">
            <th class="column1"></th>
            <th class="column2"></th>
            <th class="column3"></th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td class="column1">Student Name</td>
            <td class="column2">:</td>
            <td class="column3">{{ obj.candidate_name }}</td>
        </tr>
        <tr>
            <td class="column1">Email</td>
            <td class="column2">:</td>
            <td class="column3">{{ obj.roll_number }}</td>
        </tr>
        <tr>
            <td class="column1">Phone Number</td>
            <td class="column2">:</td>
            {% if obj.Phone_number != 0 %}
            <td class="column3">{{ obj.Phone_number}}</td>
            {% else %}
            <td>NOT AVAILABLE</td>
            {% endif %}
        </tr>
        </tbody>
</table>
{% endblock %}