{% extends 'header.html' %}

{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
       <div class="navbar-nav navbar-right">
            <a class="navbar-brand mr-4" href="{% url 'portal' %}">Back</a>
        </div>
    </nav>
</header>
<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
      	<div class="agileits-top">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="LabelColor">{{field.label}}</div>{{field}}<br>
				{% endfor %}
				<input type='submit' value='Save' />
			</form>
		</div>
	</div>
</div>

 {% endblock %}
